*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: rgb(29, 28, 28);
}
a:hover {
    color: blue;
}
.active{
  color: #4E42D9;
}
#container{
    background-color: #FBFBFF;
    position: fixed;
    width: 100%;
    top: 0;  
}
nav{
    
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    box-shadow: 0 0 3px rgb(224, 220, 220);
}
.logo{
    width: 80px;
    font-size: 40px;
    align-items: center;   
}
.logo img{
    width: 100%;  
}
nav ul{
    list-style: none;
    padding: 10px;
}
nav ul li{
    display: inline-block;
    justify-content: space-between;
    padding: 10px;
    
}
main{
    width: 80%; 
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin:  70px auto;
}
.writeup{
  margin: 110px 0 0;
}
.writedown{
  margin: 100px 0 0;
}
.writeup h2{
    font-size: 45px;
  color: #3B3950;
}
.writeup p{
  margin-top: 25px;
  color: #BB9EB9;
}
 input{
border-radius: 5px;
border: navajowhite;
height: 52px;
width: 70%;
background-color: #F0F2FA;
padding-left: 20px;
margin-top: 30px;
}
.writedown button{
  border-radius: 5px;
  padding: auto;
  background-color: #4E42D9;
  height: 47px;
  width: 8%;
  color: #f3f4f7;
    cursor: pointer;
  position: absolute;
  top: 82.5%; 
  left: 29%;
}
.img-box{
  width: 550px;
  height: 800px;
  margin: 30px 0 0;
}
.img-box img{
width: 100%;
height: 100vh;
}
.box{
  width: 60px;
  height:60px;
  background-color: #EBE9FB;
  margin: 0 0 30px;
  
}
.box img{
  width: 60%;
  height: 60%;
  margin: 10px; 
}
.cycle{
  width: 60px;
  height:60px;
  background-color: #EBE9FB;
  border-radius: 50%; 
  margin: auto auto 30px;
  
}
.cycle img{
  width: 60%;
  height: 60%;
  border-radius: 50%;
  margin: 12px;
  
}
.main-sec{
  width: 200%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
 gap: 30px;
 line-height: 25px;
}
.why1{
  margin: auto;
  
}
.why1 h3 {
font-size: 30px;
}
.why1 p{
  color: #BB9EB9;
  margin-top: 10px;
}
 .learn{
    border-radius: 5px;
    border-width: 1px;
    border-color: cornflowerblue;
    padding: auto;
    background-color: #f8f8f8;
    height: 45px;
    color: #4E42D9;
    width: 40%;
    margin-top: 30px;
    font-weight: bolder;
      cursor: pointer;
      transition:  all 0.5s ease;
}
.learn:hover{
  background-color: #4E42D9;
  color: #f3f4f7;
}
.why2{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
  margin-top: 45px;
}
.why3{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
  margin-bottom: 20px;
  }
  .why2 p ,.why3 p, .features-head p{
  color: #BB9EB9;
  text-align: center;
  line-height: 25px;
} 
.why2 h4,.why3 h4{
  text-align: center;
  padding: 10px;
}
.why3 h4{
  text-align: center;
}
.easy, .grow{
  background-color: #FBFBFF;
   transition: all 0.5s ease-in-out;
  box-shadow: 0 0 1px #c1c1d3;
  padding: 10px;
  border-radius: 4px;

}.easy:hover, .grow:hover{
  background-color: #4E42D9;
  box-shadow:0 0 5px #FBFBFF;
  color: #fff;

}
.analysis, .data{
  background-color: #FBFBFF;
    transition: all 0.5s ease-in-out;
  padding: 10px;
  box-shadow: 0 0 1px #c1c1d3;
  border-radius: 4px;

}.analysis:hover, .data:hover{
  background-color: #4E42D9;
  box-shadow: 0 0 4px #FBFBFF;
  color: #fff;
}
.features-head h3{
  text-align: center;
  margin-bottom: 25px;
}
.features-body{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 40px;
}
.features-article {
display: grid;
grid-template-rows: repeat(3, 1fr);
margin-top: 40px;
}






